.header {
    background-color: #FDD90B;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

.logo a img {
    width: 120px;
    height: 120px;
}

a {
    color: #da001e;
    text-decoration: none;
    margin-right: 20px;
}

.menu a:hover {
    color: #151217;
}