.custom-card {
    background-color: #fdd90b;
    border-radius: 10px;
    box-shadow: 0 4px 8px #da001e;
    margin-top: 2rem;
    border: 2px solid #151217;
    overflow: hidden;
    margin-bottom: 2rem;
}

.custom-button {
    background-color: #fdd90b;
    border-radius: 10px;
    color: #da001e;
    padding: 15px 20px;
    border: 2px solid #da001e;
}

.custom-button:hover {
    background-color: #151217;
    color: #fdd90b;
    border: 2px solid #fdd90b;
}

.containerBtn {
    padding-top: 2rem;
}

.contentDiv {
    background-color: #f9d0a3;
    margin-top: 0;
}


.card-link {
    cursor: pointer; 
    text-decoration: none; 
    color: inherit;
}
  
.card-link:hover {
    text-decoration: none; 
}

.containerRecherche {
    display: flex;
    justify-content: center;
    margin-top: 20px; 
  }
  
.custom-input {
    padding: 10px 15px;
    border: 2px solid #DA001E;
    border-radius: 10px;
    background-color: #FDD90B;
    color: #151217;
    font-size: 16px;
    outline: none;     
}
  
.custom-input:focus {
    border-color: #DA001E; 
}
  
