<div class="contentDiv">
  <div class="d-flex justify-content-center my-3 containerBtn">
      <button (click)="setSortOrder('asc')" class="btn custom-button mx-2">Trier par prix croissant</button>
      <button (click)="setSortOrder('desc')" class="btn custom-button mx-2">Trier par prix décroissant</button>
  </div>

  <div class="containerRecherche">
      <input id="recherche" class="custom-input" (input)="setSearchText($event)" placeholder="Rechercher une figurine">
  </div>
      
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-6 col-12" *ngIf="products$ | async as products">
        <div class="card mb-4 custom-card" *ngFor="let product of products | filter: searchText | sort: currentSortOrder">
          <a class="card-link" [routerLink]="['/produits', product.id]">
            <img [src]="product.src" class="card-img-top" alt="{{ product.name }}">
            <div class="card-body">
              <h5 class="card-title">{{ product.name }}</h5>
              <p class="card-text">Prix: {{ product.price | currency:'EUR' }}</p>
            </div>
          </a>
        </div>
      </div>          
    </div>
  </div>     
</div>
